<h1>Soundwich</h1>
<div class="navigation">
  <ul class="nav-list">
    <li class="nav-list-item"><a ui-sref="songs" class="nav-link index">All Tracks</a></li>
    <li class="nav-list-item"><a ui-sref="record" class="nav-link create">New Track</a></li>
    <li class="nav-list-item"><a ui-sref="layers" class="nav-link create">Track Layers</a></li>
    <li class="nav-list-item"><a ui-sref="mysongs" class="nav-link create">My Tracks</a></li>
    <li class="nav-list-item pull-right"><a href="#" ng-click="logout()" class="nav-link">Log Out</a></li>
  </ul>
</div><!-- /.navigation -->
<form ng-submit="findTrack()" novalidate class="newlink-form" name="getTrack">
    <input class="text" type="text" name="title" ng-model="title">
    <button type="submit" ng-disabled="getTrack.$invalid || getTrack.$pristine || !title.length">Find Track</button>
</form>
<form ng-submit="recNewLayer()" novalidate class="newlink-form second-form" name="newLayer" ng-show="song">
    <input class="text" type="text" name="layertitle" ng-model="layertitle">
    <button type="submit" ng-disabled="newLayer.$invalid || newLayer.$pristine || !layertitle.length">Record</button>
    <button type="button" ng-click="play()">Play</button>
</form>
<audio class="mastertrack" id="master" ng-src="{{song.location}}"></audio>
<div ng-repeat="layer in layers">
	<audio class="track-layer" ng-src="{{layer.location}}"></audio>
</div>

<div class="timer" ng-show"counter">{{counter}}</div>